$red-text: red;
$back-color: green;

body {
    background-color: $back-color;
    color:  red;
    font-weight: bolder;
}
h1 {
    background-color: $back-color;
    color:  red;
    font-weight: bolder;
}